.chat {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.chat-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.chat-header-infos {
  display: flex;
  align-items: center;
}

.chat-header-infos > .infos {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}

.chat-header-infos > .infos > h3 {
  font-weight: 500;
}

.chat-header-infos > .infos > p {
  font-weight: 400;
  color: gray;
}

.chat-body {
  display: flex;
  flex-direction: column;
  background-color: #faecdc;
  height: 100%;
  padding: 1.5rem;
  overflow: scroll;
}

.chat-message {
  position: relative;
  font-size: 1rem;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
}

.message-timestamp {
  font-size: xx-small;
  margin-left: 0.5rem;
}

.message-name {
  position: absolute;
  top: -0.8rem;
  font-weight: 800;
  font-size: xx-small;
}

.chat-receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  border-top: 1px solid lightgray;
}

.chat-text > form {
  flex: 1;
  display: flex;
}

.chat-text > form > input {
  flex: 1;
  border-radius: 30px;
  border: none;
  padding: 0.7rem;
  outline-width: 0;
}

.chat-text > form > button {
  display: none;
}

.chat-text > .MuiSvgIcon-root {
  padding: 0.7rem;
  color: gray;
}

.no-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
